.card {
	@apply rounded-lg;

	&.surface {
		@apply bg-neutral-1;
	}

	&.classic {
		@apply border border-neutralA-6 bg-neutralA-1 p-6 shadow-sm;
	}

	&.classic-slim {
		@apply border border-neutralA-6 bg-neutralA-1 shadow-sm;
	}

	&.pure {
		@apply bg-white p-6 shadow dark:bg-black;
	}
}
