.callout {
	&.success {
		@apply bg-successA-3;
		@apply text-successA-11;
	}

	&.warning {
		@apply bg-warningA-3;
		@apply text-warningA-11;
	}

	&.danger {
		@apply bg-dangerA-3;
		@apply text-dangerA-11;
	}

	&.info {
		@apply bg-infoA-3;
		@apply text-infoA-11;
	}
}
