.text-field-label {
	@apply text-high-contrast block text-sm font-medium leading-6;
}

.text-field-input {
	@apply text-high-contrast placeholder:text-neutralA-10 block w-full rounded-md border-0 py-1.5 shadow-sm sm:text-sm sm:leading-6;
	@apply ring-neutralA-7 ring-1 ring-inset;
	@apply focus:ring-accentA-8 focus:ring-2 focus:ring-inset;
}

.text-field-help {
	@apply text-low-contrast mt-2 text-sm;
}
