.text-field-label {
	@apply block text-sm font-medium leading-6 text-high-contrast;
}

.text-field-input {
	@apply block w-full rounded-md border-0 py-1.5 text-high-contrast shadow-sm placeholder:text-neutralA-10 sm:text-sm sm:leading-6;
	@apply ring-1 ring-inset ring-neutralA-7;
	@apply focus:ring-2 focus:ring-inset focus:ring-accentA-8;
}

.text-field-help {
	@apply mt-2 text-sm text-low-contrast;
}
